* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    float: left;
    margin-top: 20px;
}

button:nth-of-type(2n) {
    margin-right: 10px;
}



.squares {
    width: 100px;
    height: 100px;
    background: blue;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.selected {
    background: blue;
}

input {
    float: left;
    margin-top: 20px;
}

